server {
  listen 80;
  server_name prokuratura.otvorenesudy.sk;
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  ssl_certificate /etc/letsencrypt/live/otvorenesudy.sk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/otvorenesudy.sk/privkey.pem;

  server_name prokuratura.otvorenesudy.sk;

  passenger_enabled on;
  rails_env production;
  root /home/{{ user }}/projects/opencourts-prokuratura-production/current/public;

  access_log /var/log/nginx/opencourts-prokuratura-access.log combined;
  error_log  /var/log/nginx/opencourts-prokuratura-error.log;
  rewrite_log on;

  error_page 500 502 503 504 /500.html;

  location ~ ^/(assets)/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }
}
